Package: http2smtp
Version: INSTALL_VERSION
Section: custom
Priority: optional
Architecture: amd64
Installed-Size: INSTALL_SIZE
Maintainer: Michal Skrha <michal@skrha.cz>
Description: Simple HTTP to SMTP proxy.
